<!doctype html>
<title>Hello from Flask</title>
<h1>Hello {{ name }}!</h1>
<form method='POST' action="/">
	City <br/>
	<input type="string" name="city"> <br/>
	Checkin <br/>
	<input type="string" name="checkin"> <br/>
	Checkout <br/>
	<input type="string" name="checkout"> <br/>
	<br/>
	<input type="submit" name="Submit">
</form>
