<!doctype html>
<title>Hello from Flask</title>
<h1>Hotels</h1>
<table>
	<tr>
		<th>Hotel id</th>
		<th>Hotel Name</th>
		<th>Number of Reviews</th>
		<th>Address</th>
		<th>Number of stars</th>
		<th>Amenities</th>
		<th>Image</th>
		<th>Snaptravel Price</th>
		<th>Hotel.com Price</th>
	</tr>
	{% for row in result %}
	  <tr>
	  	{% for key in row.keys() %}
	  	{% if key == 'image_url' %}
	  	<td>
	  		<img src={{row[key]}} height="200px">
	  	</td>
	  	{% else %}
	  	<td> {{ row[key] }}</td>
	  	{% endif %}
	  	{% endfor %}
	  </tr>
	{% endfor %}
</table>